* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.black_cub {
	width: 200px;
	height: 200px;
	background-color: black;
}
